<h1><%="#{@pirate.name}"%></h1>
  <p>Weight: <%="#{@pirate.weight}"%></p>
  <p>Height: <%="#{@pirate.height}"%></p>


<h2><%="#{@ship1.name}"%></h2>
  <p>Type: <%="#{@ship1.type}"%></p>
  <p>Booty: <%="#{@ship1.booty}"%></p>



  <h2><%="#{@ship2.name}"%></h2>
    <p>Type: <%="#{@ship2.type}"%></p>
    <p>Booty: <%="#{@ship2.booty}"%></p>
